@page
@model LVIDiagnosticConcordanceStudy.Pages.Admin.Participants.IndexModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Participant List"];
}

<div class="row pt-4 justify-content-center">
    <div class="card col-sm-auto col-md-10">
        <h2 class="card-header">@ViewData["Title"]</h2>
        <table class="card-body table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].InControlGroup)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].Nationality)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].PlaceOfWork)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].YearsQualified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].YearsInPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].IsBreastSpecialist)
                    </th>
                    @*CODE_FEATURE*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.Participants[0].Code)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Participants[0].CompleteStudy)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Participants)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @(item.InControlGroup ? "Control" : "Intervention")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceOfWork)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearsQualified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearsInPath)
                    </td>
                    <td>
                        @(item.IsBreastSpecialist ? "Yes" : "No")
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>*@
                    <td>
                        @(item.CompleteStudy ? "Yes" : "No")
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    @*CODE_FEATURE*@
    @*@await Component.InvokeAsync("ParticipantCodes")*@

</div>
