@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

@using Microsoft.AspNetCore.Mvc.Localization
@using Areas.Identity.Data

@inject IViewLocalizer Localizer
@inject SignInManager<LVIStudyUser> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="row justify-content-md-end">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
}

<div class="intro">

    <h1>@Localizer["About"]</h1>
    <hr />
    <h3>@Localizer["Study Author"]</h3>
    <p class="intro-para">@Localizer["Dr. Pablo Pinto"]</p>
    <hr />
    <h3>@Localizer["Application Developer"]</h3>
    <p class="intro-para">@Localizer["Dr. Adam Figgins"]</p>
</div>
