@page
@model RegisterModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<LVIStudyUser> SignInManager

@{
    ViewData["Title"] = Localizer["Register"];
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="row justify-content-md-end">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
}

<div class="row justify-content-center">
    <div class="col-md-6 card">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="card-body">
            <h1>@Localizer["Create a new account"]</h1>
            <h4 class="card-subtitle mb-2 text-muted">@ViewData["Title"]</h4>
            <hr />

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <select asp-for="Input.Gender" class="form-control" asp-items="@Html.GetEnumSelectList<GenderEnum>()">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Nationality"></label>
                <select asp-for="Input.Nationality" class="form-control" asp-items="@Model.Nationalities">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Input.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Culture"></label>
                <select asp-for="Input.Culture" class="form-control" asp-items="@Model.Cultures">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Input.Culture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PlaceOfWork"></label>
                <input asp-for="Input.PlaceOfWork" class="form-control" />
                <span asp-validation-for="Input.PlaceOfWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.YearsQualified"></label>
                <input asp-for="Input.YearsQualified" class="form-control" />
                <span asp-validation-for="Input.YearsQualified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.YearsInPath"></label>
                <input asp-for="Input.YearsInPath" class="form-control" />
                <span asp-validation-for="Input.YearsInPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsBreastSpecialist"></label>
                <select asp-for="Input.IsBreastSpecialist" class="form-control" asp-items="@Model.YesNoDropDown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Input.IsBreastSpecialist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @*CODE_FEATURE*@
            @*<div class="form-group">
                <label asp-for="Input.Code"></label>
                <input asp-for="Input.Code" class="form-control" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-outline-secondary btn-lg intro-btn">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
