@using LVIDiagnosticConcordanceStudy.Models.ViewComponents
@using Models
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model AdditionalProbabilityViewComponent.Probabilities

@{
    int postTestPercentage = Convert.ToInt32(Model.PostTest * 100);
    string postTestBadgeClass = Model.PostTest < DataConstants.SecondInterval ? "badge-danger" : "badge-success";
}

<!-- Intervention Group Additional Information Modal -->

<div class="modal fade" id="interventionGroupModal" tabindex="-1" role="dialog" aria-labelledby="interventionGroupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="interventionGroupModalTitle">@Localizer["Confirm Report Submission"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <hr />
                <div class="row p-3 text-center">
                    @{
                        string requestPath = Context.Request.Path.ToString();
                        string caseId = requestPath.Substring(requestPath.LastIndexOf("/") + 1);
                    }
                    <div>
                        @if (Model.ConcordanceCriteriaMet == 3)
                        {
                        <p class="p-2">
                            @Localizer["Report_Submission_Confirm_Text"]
                        </p>
                        }

                        @if (Model.ConcordanceCriteriaMet <= 2 && Model.ConcordanceCriteriaMet > 0)
                        {
                        <p class="p-2">
                            @Localizer["Partial_Concordance_Message"]
                        </p>
                        }
                        @if (Model.ConcordanceCriteriaMet < 1)
                        {
                            string code = Guid.NewGuid().ToString().Replace("-", string.Empty).Substring(0, 10);

                        <p class="p-2">
                            @Localizer["No_Concordance_Message"]
                        </p>
                        <p class="text-center h5">
                            @Localizer["Code"]: <span id="confirmationCode">@code</span>
                        </p>
                        <div class="form-group">
                            <input id="codeInput" class="form-control" />
                            <span class="text-danger" id="codeInputError"></span>
                        </div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Back"]</button>
                            <input id="interventionSubmit" type="submit" value=@Localizer["Confirm"] class="btn btn-outline-secondary intro-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-header">
    <button type="button" class="btn btn-secondary" title="@Localizer["LVI Probability"]" data-container="body" data-trigger="focus" data-toggle="popover" data-content="@Localizer["Post-test_Probability_Tooltip"]">
        @Localizer["Post-Test Probability"] <span class="badge @(postTestBadgeClass)">@(postTestPercentage.ToString())%</span>
    </button>
</div>
<div class="card-body">
    <canvas id="probabilityChartPlaceholder" width="1000" height="600"></canvas>
</div>


