@using LVIDiagnosticConcordanceStudy.Models.ViewComponents
@using Models
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model AdditionalProbabilityViewComponent.Probabilities

@{
    int postTestPercentage = Convert.ToInt32(Model.PostTest * 100);
    string postTestBadgeClass = Model.PostTest < DataConstants.SecondInterval ? "badge-danger" : "badge-success";
}

<!-- Intervention Group Additional Information Modal -->

<div class="modal fade" id="interventionGroupModal" tabindex="-1" role="dialog" aria-labelledby="interventionGroupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="interventionGroupModalTitle">Confirm Report Submission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <hr />
                <div class="row p-3 text-center">
                    @{
                        string requestPath = Context.Request.Path.ToString();
                        string caseId = requestPath.Substring(requestPath.LastIndexOf("/") + 1);
                    }
                    <div>
                        @if (Model.ConcordanceCriteriaMet == 3)
                        {
                        <p class="p-2">
                            @Localizer["Once you submit your answer you will be unable to change it." +
                                        "Are you sure you wish to proceed?"]
                        </p>
                        }

                        @if (Model.ConcordanceCriteriaMet == 2)
                        {
                        <p class="p-2">
                            @Localizer["According to our calculations, the tumour grade and LVI " +
                                    "number you have provided are unlikely. We recommend you " +
                                    "change your answer. Othrwise, please confirm"]
                        </p>
                        }
                        @if (Model.ConcordanceCriteriaMet < 2)
                        {
                            string code = Guid.NewGuid().ToString().Replace("-", string.Empty).Substring(0, 10);

                        <p class="p-2">
                            @Localizer["According to our calculations, the tumour grade and LVI " +
                                    "number you have provided are VERY unlikely. We recommend you " +
                                    "change your answer. Othrwise, re-enter the following code and confim submission"]
                        </p>
                        <p class="text-center h5">
                            @Localizer["Code:"] <span id="confirmationCode">@code</span>
                        </p>
                        <div class="form-group">
                            <input id="codeInput" class="form-control" />
                            <span class="text-danger" id="codeInputError"></span>
                        </div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                            <input id="interventionSubmit" type="submit" value="Confirm Submission" class="btn btn-outline-secondary intro-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-header">
    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Post-Test Probability <span class="badge @(postTestBadgeClass)">@(postTestPercentage.ToString())%</span>
    </button>
</div>
<div class="card-body">
    <canvas id="probabilityChartPlaceholder" width="1000" height="600"></canvas>
</div>


