@page "{id:int?}"

@using Models.Entities.ReportAggregate
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model LVIDiagnosticConcordanceStudy.Pages.CaseModel

@{
    ViewData["Title"] = Localizer["Cases"];
    ViewData["SubTitle"] = Localizer["Case"];
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link href="~/lib/jquery-sweet-dropdown/css/jquery.sweet-dropdown.min.css" rel="stylesheet" />
}

<div class="modal fade" id="controlGroupModal" tabindex="-1" role="dialog" aria-labelledby="controlGroupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="controlGroupModalTitle">@Localizer["Confirm Report Submission"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <hr />
                <div class="row p-3 text-center">
                    <div>
                        <p class="p-2">
                            @Localizer["Report_Submission_Confirm_Text"]
                        </p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Back"]</button>
                            <input id="controlSubmit" type="submit" value=@Localizer["Confirm"] class="btn btn-outline-secondary intro-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-3 justify-content-center">
    <div class="col-10">

        <div class="d-inline-flex">
            <a asp-page="./Summary" id="caseSummary" class="btn btn-outline-secondary intro-btn">@Localizer["Summary"]</a>
        </div>
        <div class="d-inline-flex">
            <button class="btn btn-outline-secondary intro-btn" data-dropdown="#dropdown-with-icons">@Localizer["Select Case"]...</button>
        </div>
        <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-with-icons">
            <ul>
                @foreach (var item in Model.Cases)
                {
                    <li>
                        <a asp-route-id="@(item.Id)">
                            @Localizer["Case"] @item.CaseNumber
                            @if (Model.SubmittedReports.Contains(item.Id))
                            {
                                <span class="text-right text-success">@Localizer["Complete"]</span>
                            }
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<div class="row pb-3 justify-content-center">
    <div class="card col-lg-4">
        <div class="card-header position-relative">
            <h1>@ViewData["Title"]</h1>
            <h4 class="card-subtitle mb-2 text-muted">@ViewData["SubTitle"] @Model.CaseReportViewModel.CaseNumber.ToString()</h4>
            <div class="text-right card-img-top" id="preTestProbabilityPlaceholder"></div>
        </div>

        <form id="caseReport" asp-page-handler="Submitted" class="card-body" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.SlideUrl" class="control-label"></label>
                <input asp-for="CaseReportViewModel.SlideUrl" class="form-control" readonly />
                @if (!String.IsNullOrEmpty(Model.CaseReportViewModel.SlideUrl))
                {
                    <a href=@(Html.Raw(Model.CaseReportViewModel.SlideUrl)) target="_blank">@Localizer["Click here to view slides"]</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.PatientAge" class="control-label"></label>
                <input asp-for="CaseReportViewModel.PatientAge" class="form-control" readonly />
                <span asp-validation-for="CaseReportViewModel.PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.TumourSize" class="control-label"></label>
                <input asp-for="CaseReportViewModel.TumourSize" class="form-control" readonly />
                <span asp-validation-for="CaseReportViewModel.TumourSize" class="text-danger"></span>
            </div>

            @if (Model.SubmittedReports.Contains(Model.CaseId))
            {
                <div class="form-group">
                    <label asp-for="CaseReportViewModel.TumourGrade" class="control-label"></label>
                    <select asp-for="CaseReportViewModel.TumourGrade" class="form-control" asp-items="@Html.GetEnumSelectList<Grade>()" disabled>
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="CaseReportViewModel.TumourGrade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CaseReportViewModel.NumberofLVI" class="control-label"></label>
                    <input asp-for="CaseReportViewModel.NumberofLVI" class="form-control" readonly" />
                    <span asp-validation-for="CaseReportViewModel.NumberofLVI" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="CaseReportViewModel.TumourGrade" class="control-label"></label>
                    <select asp-for="CaseReportViewModel.TumourGrade" class="form-control" asp-items="@Html.GetEnumSelectList<Grade>()">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="CaseReportViewModel.TumourGrade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CaseReportViewModel.NumberofLVI" class="control-label"></label>
                    <input asp-for="CaseReportViewModel.NumberofLVI" class="form-control" value="" />
                    <span asp-validation-for="CaseReportViewModel.NumberofLVI" class="text-danger"></span>
                </div>
            }

            @if (Model.CurrentUser.InControlGroup)
            {
                <div id="controlSubmitDiv" class="form-group">
                    <input id="controlReportSubmit" type="button" value=@Localizer["Submit"] class="btn btn-outline-secondary intro-btn" disabled="@(Model.SubmittedReports.Contains(Model.CaseId))" />
                </div>
            }
            else
            {
                <div id="interventionSubmitDiv" class="form-group">
                    <input id="interventionReportSubmit" type="button" value=@Localizer["Submit"] class="btn btn-outline-secondary intro-btn" disabled="@(Model.SubmittedReports.Contains(Model.CaseId))" />
                </div>
            }
        </form>
    </div>
    <div class="m-2" id="additionalProbabilityDataPlaceholder"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-sweet-dropdown/js/jquery.sweet-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    @if (!Model.CurrentUser.InControlGroup)
    {
        <environment include="Development">
            <script src="~/js/caseReport.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/caseReport.min.js"></script>
        </environment>
    }
    else
    {
        <environment include="Development">
            <script src="~/js/controlCaseReport.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/controlCaseReport.min.js"></script>
        </environment>
    }
}
