@page "{id:int?}"

@using Models.Entities.ReportAggregate
@model LVIDiagnosticConcordanceStudy.Pages.CaseModel

@{
    ViewData["Title"] = "Cases";
    ViewData["SubTitle"] = "Case" + RouteData.Values["id"];
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link href="~/lib/jquery-sweet-dropdown/css/jquery.sweet-dropdown.min.css" rel="stylesheet" />
}

<div id="interventionGroupModalPlaceholder"></div>

<div class="row p-3 justify-content-center">
    <div class="col-6 justify-content-center">
        <button class="btn-lg btn-outline-secondary intro-btn" data-dropdown="#dropdown-with-icons">Select Case...</button>
        <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-with-icons">
            <ul>
                @for (var i = 1; i <= Model.CaseCount; i++)
                {
                    <li>
                        <a asp-route-id="@i">
                            Case @i
                            @if (Model.SubmittedReports.Contains(i))
                            {
                                <span class="text-right">Complete</span>
                            }
                        </a>
                    </li>
                }
                </hr>
                <li><a asp-page="./Summary">Summary</a></li>

            </ul>
        </div>
    </div>
</div>


<div class="row pb-3 justify-content-center">
    <div class="card col-md-6">
        <form id="caseReport" asp-page-handler="Submitted" class="card-body" method="post">
            <h1>@ViewData["Title"]</h1>
            <h4 class="card-subtitle mb-2 text-muted">@ViewData["SubTitle"]</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.PatientAge" class="control-label"></label>
                <input asp-for="CaseReportViewModel.PatientAge" class="form-control" readonly />
                <span asp-validation-for="CaseReportViewModel.PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.TumourSize" class="control-label"></label>
                <input asp-for="CaseReportViewModel.TumourSize" class="form-control" readonly />
                <span asp-validation-for="CaseReportViewModel.TumourSize" class="text-danger"></span>
            </div>
            @* TODO:
                1. Create a tag helper that accepts the value of 'IsSubmitted' for the report, and makes the inputs below readonly as a result or not*@
            <div class="form-group">
                <label asp-for="CaseReportViewModel.TumourGrade" class="control-label"></label>
                <select asp-for="CaseReportViewModel.TumourGrade" class="form-control" asp-items="@Html.GetEnumSelectList<Grade>()"
                    disabled="@(Model.SubmittedReports.Contains(Model.CaseId))">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CaseReportViewModel.TumourGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseReportViewModel.NumberofLVI" class="control-label"></label>
                <input asp-for="CaseReportViewModel.NumberofLVI" class="form-control" 
                    readonly="@(Model.SubmittedReports.Contains(Model.CaseId))" />
                <span asp-validation-for="CaseReportViewModel.NumberofLVI" class="text-danger"></span>
            </div>
            @if (Model.CurrentUser.InControlGroup)
            {
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-secondary intro-btn" disabled="@(Model.SubmittedReports.Contains(Model.CaseId))"/>
                </div>
            }
            else
            {
                <div class="form-group">
                    <input id="probabilityInfo" type="button" value="Submit" class="btn btn-outline-secondary intro-btn" disabled="@(Model.SubmittedReports.Contains(Model.CaseId))"/>
                </div>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-sweet-dropdown/js/jquery.sweet-dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
}
