@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model LVIDiagnosticConcordanceStudy.Pages.Case.SummaryModel
@{
}

<div class="row pt-3 justify-content-center">
    <div class="card col-sm-auto col-md-10">
        <table class="card-body table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Case"] #</th>
                    <th scope="col">@Localizer["Tumour Grade"]</th>
                    <th scope="col">@Localizer["Number of LVI"]</th>
                    <th scope="col">@Localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int reportCount = 0;
                }

                @foreach (var item in Model.Cases)
                {
                    <tr>
                        <th scope="row"><a class="btn btn-secondary" asp-page="./Index" asp-route-id="@(item.Id)">@(item.Id)</a></th>
                        @if (Model.SubmittedReports.Contains(item.Id))
                        {
                            <td>@Model.Reports[reportCount].TumourGrade</td>
                            <td>@Model.Reports[reportCount].NumberofLVI</td>
                            @if (Model.Reports[reportCount].IsSubmitted)
                            {
                                <th scope="row" class="text-success">@Localizer["Submitted"]</th>
                            }
                            else
                            {
                                <th scope="row" class="text-primary">@Localizer["Incomplete"]</th>
                            }
                            reportCount++;
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <th scope="row" class="text-primary">@Localizer["Incomplete"]</th>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
