@page "{id:int?}"
@model LVIDiagnosticConcordanceStudy.Pages.Admin.Cases.DeleteModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Delete Case"];
}

<div class="row p-4 justify-content-center">
    <div class="card col-lg-6">
        <h2 class="card-header">@ViewData["Title"]</h2>
        <div class="card-body">
            <h5 class="text-center">Are you sure you want to delete this?</h5>
            <div class="text-danger w-75 p-3">
                <span class="font-weight-bold">WARNING:</span> Deleting the case will also remove all existing reports that
                have been submitted by users for this case
            </div>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Case.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Case.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Case.PatientAge)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Case.PatientAge)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Case.TumourSize)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Case.TumourSize)
                    </dd>
                </dl>

                <form method="post">
                    <input type="hidden" asp-for="Case.Id" />
                    <input type="submit" value="Delete" class="btn btn-outline-secondary btn intro-btn" /> |
                    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>
        
