@page
@model LVIDiagnosticConcordanceStudy.Pages.Admin.Cases.IndexModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Case List"];
}

<div class="row p-4 justify-content-center">
    <div class="card col-lg-6">
        <h2 class="card-header">@ViewData["Title"]</h2>
        <div class="card-body">
            <p>
                <a class="btn btn-outline-secondary btn intro-btn" asp-page="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cases[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cases[0].PatientAge)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cases[0].TumourSize)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cases)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientAge)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TumourSize)
                            </td>
                            <td>
                                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-secondary" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


