@page
@model PersonalDataModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Personal Data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["Personal_data_message"]</p>
        <p>
            <strong>@Localizer["Delete_data_warning"]</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}